body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:839px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2852 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:654px;
  width:100px;
  height:60px;
}
#u2852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u2853 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:78px;
  width:80px;
  height:44px;
  font-size:16px;
}
#u2853_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u2854 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:343px;
  width:80px;
  height:44px;
  font-size:16px;
}
#u2854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u2855 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:632px;
  width:80px;
  height:44px;
  font-size:16px;
}
#u2855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u2857 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:1115px;
  width:80px;
  height:44px;
  font-size:16px;
}
#u2857_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u2858 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1055px;
  width:79px;
  height:32px;
  font-size:16px;
}
#u2858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u2859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u2859 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1194px;
  width:79px;
  height:32px;
  font-size:16px;
}
#u2859_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u2860 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1071px;
  width:0px;
  height:0px;
}
#u2860_seg0 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:37px;
  height:8px;
}
#u2860_seg1 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:8px;
  height:74px;
}
#u2860_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:62px;
  width:19px;
  height:8px;
}
#u2860_text {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2861 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1210px;
  width:0px;
  height:0px;
}
#u2861_seg0 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:37px;
  height:8px;
}
#u2861_seg1 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-77px;
  width:8px;
  height:81px;
}
#u2861_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-77px;
  width:19px;
  height:8px;
}
#u2861_text {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u2862 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:993px;
  width:144px;
  height:32px;
  font-size:16px;
}
#u2862_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u2863 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:1055px;
  width:144px;
  height:32px;
  font-size:16px;
}
#u2863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u2864 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:1115px;
  width:144px;
  height:32px;
  font-size:16px;
}
#u2864_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2865 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:1009px;
  width:0px;
  height:0px;
}
#u2865_seg0 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-4px;
  width:39px;
  height:8px;
}
#u2865_seg1 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-4px;
  width:8px;
  height:70px;
}
#u2865_seg2 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:58px;
  width:22px;
  height:8px;
}
#u2865_text {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2866 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:1071px;
  width:0px;
  height:0px;
}
#u2866_seg0 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:-4px;
  width:57px;
  height:8px;
}
#u2866_text {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2867 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:1131px;
  width:0px;
  height:0px;
}
#u2867_seg0 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:37px;
  height:8px;
}
#u2867_seg1 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-64px;
  width:8px;
  height:68px;
}
#u2867_seg2 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-64px;
  width:22px;
  height:8px;
}
#u2867_text {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:33px;
}
#u2868 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:1194px;
  width:183px;
  height:32px;
  font-size:16px;
}
#u2868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:179px;
  word-wrap:break-word;
}
#u2869 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:1210px;
  width:0px;
  height:0px;
}
#u2869_seg0 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:-4px;
  width:57px;
  height:8px;
}
#u2869_text {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u2870 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:1283px;
  width:80px;
  height:44px;
  font-size:16px;
}
#u2870_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2871 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:684px;
  width:0px;
  height:0px;
}
#u2871_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u2871_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-588px;
  width:8px;
  height:592px;
}
#u2871_seg2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-588px;
  width:19px;
  height:8px;
}
#u2871_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-274px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2872 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:684px;
  width:0px;
  height:0px;
}
#u2872_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u2872_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-323px;
  width:8px;
  height:327px;
}
#u2872_seg2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-323px;
  width:19px;
  height:8px;
}
#u2872_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-142px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2873 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:684px;
  width:0px;
  height:0px;
}
#u2873_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u2873_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-34px;
  width:8px;
  height:38px;
}
#u2873_seg2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-34px;
  width:19px;
  height:8px;
}
#u2873_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2874 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:684px;
  width:0px;
  height:0px;
}
#u2874_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u2874_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-4px;
  width:8px;
  height:461px;
}
#u2874_seg2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:449px;
  width:19px;
  height:8px;
}
#u2874_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:193px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2875 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:684px;
  width:0px;
  height:0px;
}
#u2875_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u2875_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-4px;
  width:8px;
  height:629px;
}
#u2875_seg2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:617px;
  width:19px;
  height:8px;
}
#u2875_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:277px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:33px;
}
#u2876 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:246px;
  width:142px;
  height:32px;
  font-size:16px;
}
#u2876_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u2877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u2877 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:23px;
  width:79px;
  height:32px;
  font-size:16px;
}
#u2877_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u2878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u2878 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:78px;
  width:79px;
  height:32px;
  font-size:16px;
}
#u2878_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u2879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u2879 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:132px;
  width:79px;
  height:32px;
  font-size:16px;
}
#u2879_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u2880 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:39px;
  width:0px;
  height:0px;
}
#u2880_seg0 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-4px;
  width:42px;
  height:8px;
}
#u2880_seg1 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-4px;
  width:8px;
  height:69px;
}
#u2880_seg2 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:57px;
  width:19px;
  height:8px;
}
#u2880_text {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2881 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:94px;
  width:0px;
  height:0px;
}
#u2881_seg0 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-4px;
  width:42px;
  height:8px;
}
#u2881_seg1 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-4px;
  width:8px;
  height:14px;
}
#u2881_seg2 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:2px;
  width:19px;
  height:8px;
}
#u2881_text {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2882 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:148px;
  width:0px;
  height:0px;
}
#u2882_seg0 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-4px;
  width:42px;
  height:8px;
}
#u2882_seg1 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-52px;
  width:8px;
  height:56px;
}
#u2882_seg2 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:-52px;
  width:19px;
  height:8px;
}
#u2882_text {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:33px;
}
#u2883 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:106px;
  width:131px;
  height:32px;
  font-size:16px;
}
#u2883_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:127px;
  word-wrap:break-word;
}
#u2884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u2884 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:23px;
  width:107px;
  height:32px;
  font-size:16px;
}
#u2884_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u2885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:33px;
}
#u2885 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:158px;
  width:131px;
  height:32px;
  font-size:16px;
}
#u2885_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:127px;
  word-wrap:break-word;
}
#u2886 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:122px;
  width:0px;
  height:0px;
}
#u2886_seg0 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-4px;
  width:44px;
  height:8px;
}
#u2886_seg1 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-4px;
  width:8px;
  height:34px;
}
#u2886_seg2 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:22px;
  width:17px;
  height:8px;
}
#u2886_text {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2887 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:174px;
  width:0px;
  height:0px;
}
#u2887_seg0 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-4px;
  width:44px;
  height:8px;
}
#u2887_seg1 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-30px;
  width:8px;
  height:34px;
}
#u2887_seg2 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:-30px;
  width:17px;
  height:8px;
}
#u2887_text {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2888 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:39px;
  width:0px;
  height:0px;
}
#u2888_seg0 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:-4px;
  width:57px;
  height:8px;
}
#u2888_text {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u2889 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:246px;
  width:79px;
  height:32px;
  font-size:16px;
}
#u2889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u2890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u2890 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:317px;
  width:79px;
  height:32px;
  font-size:16px;
}
#u2890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u2891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u2891 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:393px;
  width:79px;
  height:32px;
  font-size:16px;
}
#u2891_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u2892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u2892 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:469px;
  width:79px;
  height:32px;
  font-size:16px;
}
#u2892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u2893 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:262px;
  width:0px;
  height:0px;
}
#u2893_seg0 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:37px;
  height:8px;
}
#u2893_seg1 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:8px;
  height:111px;
}
#u2893_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:99px;
  width:19px;
  height:8px;
}
#u2893_text {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2894 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:333px;
  width:0px;
  height:0px;
}
#u2894_seg0 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:37px;
  height:8px;
}
#u2894_seg1 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:8px;
  height:40px;
}
#u2894_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:28px;
  width:19px;
  height:8px;
}
#u2894_text {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2895 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:409px;
  width:0px;
  height:0px;
}
#u2895_seg0 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:37px;
  height:8px;
}
#u2895_seg1 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-48px;
  width:8px;
  height:52px;
}
#u2895_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-48px;
  width:19px;
  height:8px;
}
#u2895_text {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2896 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:485px;
  width:0px;
  height:0px;
}
#u2896_seg0 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:37px;
  height:8px;
}
#u2896_seg1 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-124px;
  width:8px;
  height:128px;
}
#u2896_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-124px;
  width:19px;
  height:8px;
}
#u2896_text {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2897 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:262px;
  width:0px;
  height:0px;
}
#u2897_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:57px;
  height:8px;
}
#u2897_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:33px;
}
#u2898 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:317px;
  width:142px;
  height:32px;
  font-size:16px;
}
#u2898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u2899 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:333px;
  width:0px;
  height:0px;
}
#u2899_seg0 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:-4px;
  width:57px;
  height:8px;
}
#u2899_text {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:33px;
}
#u2900 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:370px;
  width:142px;
  height:32px;
  font-size:16px;
}
#u2900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u2901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:33px;
}
#u2901 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:420px;
  width:142px;
  height:32px;
  font-size:16px;
}
#u2901_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u2902 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:386px;
  width:0px;
  height:0px;
}
#u2902_seg0 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-4px;
  width:39px;
  height:8px;
}
#u2902_seg1 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-4px;
  width:8px;
  height:31px;
}
#u2902_seg2 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:19px;
  width:22px;
  height:8px;
}
#u2902_text {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2903 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:436px;
  width:0px;
  height:0px;
}
#u2903_seg0 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-4px;
  width:39px;
  height:8px;
}
#u2903_seg1 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-31px;
  width:8px;
  height:35px;
}
#u2903_seg2 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:-31px;
  width:22px;
  height:8px;
}
#u2903_text {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:-13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u2904 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:668px;
  width:79px;
  height:32px;
  font-size:16px;
}
#u2904_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u2905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u2905 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:861px;
  width:79px;
  height:32px;
  font-size:16px;
}
#u2905_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u2906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u2906 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:546px;
  width:79px;
  height:32px;
  font-size:16px;
}
#u2906_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u2907 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:562px;
  width:0px;
  height:0px;
}
#u2907_seg0 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:37px;
  height:8px;
}
#u2907_seg1 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:8px;
  height:100px;
}
#u2907_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:88px;
  width:19px;
  height:8px;
}
#u2907_text {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2908 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:684px;
  width:0px;
  height:0px;
}
#u2908_seg0 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:37px;
  height:8px;
}
#u2908_seg1 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-34px;
  width:8px;
  height:38px;
}
#u2908_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-34px;
  width:19px;
  height:8px;
}
#u2908_text {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2909 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:877px;
  width:0px;
  height:0px;
}
#u2909_seg0 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:37px;
  height:8px;
}
#u2909_seg1 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-227px;
  width:8px;
  height:231px;
}
#u2909_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-227px;
  width:19px;
  height:8px;
}
#u2909_text {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-110px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u2910 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:546px;
  width:144px;
  height:32px;
  font-size:16px;
}
#u2910_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2911 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:562px;
  width:0px;
  height:0px;
}
#u2911_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:57px;
  height:8px;
}
#u2911_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u2912 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:617px;
  width:144px;
  height:32px;
  font-size:16px;
}
#u2912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u2913 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:668px;
  width:144px;
  height:32px;
  font-size:16px;
}
#u2913_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u2914 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:668px;
  width:144px;
  height:32px;
  font-size:16px;
}
#u2914_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u2915 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:720px;
  width:144px;
  height:32px;
  font-size:16px;
}
#u2915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2916 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:633px;
  width:0px;
  height:0px;
}
#u2916_seg0 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:37px;
  height:8px;
}
#u2916_seg1 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:8px;
  height:59px;
}
#u2916_seg2 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:47px;
  width:22px;
  height:8px;
}
#u2916_text {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2917 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:684px;
  width:0px;
  height:0px;
}
#u2917_seg0 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-4px;
  width:55px;
  height:8px;
}
#u2917_text {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2918 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:736px;
  width:0px;
  height:0px;
}
#u2918_seg0 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-4px;
  width:39px;
  height:8px;
}
#u2918_seg1 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-56px;
  width:8px;
  height:60px;
}
#u2918_seg2 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:-56px;
  width:22px;
  height:8px;
}
#u2918_text {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2919 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:684px;
  width:0px;
  height:0px;
}
#u2919_seg0 {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:-4px;
  width:72px;
  height:8px;
}
#u2919_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u2920 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:720px;
  width:144px;
  height:32px;
  font-size:16px;
}
#u2920_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2921 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:736px;
  width:0px;
  height:0px;
}
#u2921_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u2921_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u2922 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:801px;
  width:144px;
  height:32px;
  font-size:16px;
}
#u2922_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u2923 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:861px;
  width:144px;
  height:32px;
  font-size:16px;
}
#u2923_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u2924 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:929px;
  width:144px;
  height:32px;
  font-size:16px;
}
#u2924_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2925 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:817px;
  width:0px;
  height:0px;
}
#u2925_seg0 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:37px;
  height:8px;
}
#u2925_seg1 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:8px;
  height:68px;
}
#u2925_seg2 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:56px;
  width:22px;
  height:8px;
}
#u2925_text {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2926 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:877px;
  width:0px;
  height:0px;
}
#u2926_seg0 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-4px;
  width:55px;
  height:8px;
}
#u2926_text {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2927 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:945px;
  width:0px;
  height:0px;
}
#u2927_seg0 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-4px;
  width:39px;
  height:8px;
}
#u2927_seg1 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-72px;
  width:8px;
  height:76px;
}
#u2927_seg2 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:-72px;
  width:22px;
  height:8px;
}
#u2927_text {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:-34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u2928 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:837px;
  width:144px;
  height:32px;
  font-size:16px;
}
#u2928_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u2929 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:775px;
  width:144px;
  height:32px;
  font-size:16px;
}
#u2929_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2930 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:853px;
  width:0px;
  height:0px;
}
#u2930_seg0 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-4px;
  width:59px;
  height:8px;
}
#u2930_seg1 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-40px;
  width:8px;
  height:44px;
}
#u2930_seg2 {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:-40px;
  width:17px;
  height:8px;
}
#u2930_text {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2931 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:791px;
  width:0px;
  height:0px;
}
#u2931_seg0 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-4px;
  width:59px;
  height:8px;
}
#u2931_seg1 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-4px;
  width:8px;
  height:34px;
}
#u2931_seg2 {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:22px;
  width:17px;
  height:8px;
}
#u2931_text {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u2932 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1331px;
  width:144px;
  height:32px;
  font-size:16px;
}
#u2932_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u2933 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1253px;
  width:144px;
  height:32px;
  font-size:16px;
}
#u2933_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u2934 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1269px;
  width:0px;
  height:0px;
}
#u2934_seg0 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:37px;
  height:8px;
}
#u2934_seg1 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:8px;
  height:44px;
}
#u2934_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:32px;
  width:19px;
  height:8px;
}
#u2934_text {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2935 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1347px;
  width:0px;
  height:0px;
}
#u2935_seg0 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:37px;
  height:8px;
}
#u2935_seg1 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-46px;
  width:8px;
  height:50px;
}
#u2935_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-46px;
  width:19px;
  height:8px;
}
#u2935_text {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
